<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/">
        <mat-icon>home</mat-icon>Home
      </a>
      <a mat-list-item href="/group">
        <mat-icon>account_box</mat-icon>Meu Grupo
      </a>
      <a mat-list-item href="/event">
        <mat-icon>list_alt</mat-icon>Eventos
      </a>
      <a mat-list-item href="/certificate">
        <mat-icon>card_giftcard</mat-icon>Certificados
      </a>
      <a mat-list-item (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>Sair
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>PET-Eventos</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
